@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-nutri-primary: #172A3A;
  --color-nutri-secondary: #567C8D;
  --color-nutri-light-grey: #E7E9E3;
  --color-nutri-off-white: #F5EFEB;
  --color-nutri-dark-grey: #3E4A4F;
  --color-nutri-black: #1A1D1F;
  --color-nutri-white: #FBF9F1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scroll fino estilo iOS/Mockup */
::-webkit-scrollbar {
  height: 8px;
  /* grosor horizontal */
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}